<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="fragments::head">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div class="main-top" th:replace="fragments::main-top">
</div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header class="main-top">
    <div th:replace="fragments::header"></div>
</header>

<!-- Start Top Search -->
<div th:replace="fragments::top-search">
</div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div th:replace="fragments :: slider">
</div>
<!-- End All Title Box -->
  
<!-- Update Personal Information -->
<section>
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="order-date">Order Date</th>
                                    <th>Delivery Date</th>
                                    <th class="price-pr">Order Status</th>
                                    <th class="quantity-box" >Total Price</th>
                                    <th class="total-pr">Payment Method</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody th:each="order : ${orders}">
                                <tr>
                                    <td class="order-date">
                                        <span><b th:text="${order.orderDate}"></b></span>
                                    </td>
                                    <td class="name-pr" th:if="${order.deliveryDate != null}">
                                        <a href="#" th:text="${order.deliveryDate}"></a>
                                    </td>
                                    <td class="name-pr" th:if="${order.deliveryDate == null}">
                                        <a href="#" th:text="Waiting..."></a>
                                    </td>
                                    <td class="price-pr">
                                        <p th:text="${order.orderStatus}"></p>
                                    </td>
                                    <td class="total-pr">
                                        <p style="color: red" th:text="'$' + ${order.totalPrice}"></p>
                                    </td>
                                    <td class="total-pr" style="color: black">
                                        <span>Cash</span>
                                    </td>
                                    <td>
                                        <a th:href="@{/cancel/{id}(id=${order.id})}" class="button-cancel">Cancel</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<footer th:replace="fragments::footer"></footer>

<div th:replace="fragments::script"></div>
</body>

</html>