<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="fragments::head">
</head>

<body>
    <!-- Start Main Top -->
    <div class="main-top" th:replace="fragments::main-top">
    </div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header class="main-top">
        <div th:replace="fragments::header"></div>
    </header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div th:replace="fragments::top-search">
    </div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div th:replace="fragments :: slider">
    </div>
    <!-- End All Title Box -->

    <section id="register-form">
        <div class="noi-dung">
            <div class="form">
                <h2>Register</h2>
                <div th:if = "${error}" class="text-center alert alert-danger">
                    <p th:text="${error}"></p>
                </div>
                <div th:if = "${username}" class="text-center alert-warning">
                    <p th:text="${username}"></p>
                </div>
                <div th:if = "${password}" class="text-center alert-warning">
                    <p th:text="${password}"></p>
                </div>
                <div th:if = "${success}" class="text-center alert-success">
                    <p th:text="${success}"></p>
                </div>
                <form th:action="@{/do-register}" method="POST" th:object="${customerDto}">
                    <div class="input-form">
                      <!-- <span>User name</span> -->

                        <div class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}"
                             th:errors = "*{firstName}"
                        ></div>
                        <input type="text" placeholder="First Name" th:field="*{firstName}">
                    </div>
                    <div class="input-form">
                        <!-- <span>User name</span> -->

                        <div class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}"
                             th:errors = "*{lastName}"
                        ></div>
                        <input type="text" placeholder="Last Name" th:field="*{lastName}">
                    </div>
                    <div class="input-form">
                        <!-- <span>User name</span> -->
                        <input type="text" placeholder="Username" th:field="*{username}">
                    </div>
                    <div class="input-form">
                        <!-- <span>Password</span> -->

                        <div class="alert alert-danger" th:if="${#fields.hasErrors('password')}"
                             th:errors = "*{password}"
                        ></div>
                        <input type="password" placeholder="Password" th:field="*{password}">
                    </div>
                    <div class="input-form">
                        <!-- <span>Password</span> -->
                        <input type="password" placeholder="Verify password" th:field="*{repeatPassword}">
                    </div>
                    <div class="input-form">
                        <p>Do You Already Have An Account ? <a th:href="@{/login}"> Sign in now </a></p>
                    </div>
                    <div class="input-form">
                        <input type="submit" value="Sign up">
                    </div>
                </form>
                <h3>Log In With Social Network</h3>
                <ul class="icon-dang-nhap">
                    <li><i class="fab fa-facebook-f"></i></i></li>
                    <li><i class="fab fa-google"></i></li>
                    <li><i class="fab fa-weibo"></i></li>
                </ul>
            </div>
        </div>
    </section>
    <div th:replace="fragments::script"></div>
</body>

</html>